@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap');

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 125px;
  background: #FAFAFA;
  position: relative;
}

.wrap {
  font-family: 'ALS Ekibastuz', serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.translation {
  position: absolute;
  left: 55px;
  top: 38px;
}

.translationItem {
  font-size: 24px;
  color: #787672;
  letter-spacing: 0.2em;
  cursor: pointer;
  transition: box-shadow .3s;
  &:hover {
    text-shadow: 0 0 11px rgba(33,33,33,.2);
    color: #1E1C1C;
  }
}

.about {
  font-size: 24px;
  color: #787672;
  letter-spacing: 0.13em;
  cursor: pointer;
  transition: box-shadow .3s;
  padding-left: 67px;
  &:hover {
    text-shadow: 0 0 11px rgba(33,33,33,.2);
    color: #1E1C1C;
  }
}

.titleWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 510px;
}

.title {
  font-family: 'Gowun Batang', serif;
  font-size: 48px;
  line-height: 70px;
  text-align: center;
  letter-spacing: 0.2em;
  color: #1E1C1C;
}

.infoWrap {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.info {
  font-size: 24px;
  color: #787672;
  letter-spacing: 0.13em;
  cursor: pointer;
  transition: box-shadow .3s;
  &:hover {
    text-shadow: 0 0 11px rgba(33,33,33,.2);
    color: #1E1C1C;
  }
 }

.burgerOpenButton {
  position: absolute;
  top: 30px;
  right: 16px;
  z-index: 5;
}

.burgerOpenButton {
  cursor: pointer;
  padding: 14px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #FAFAFA;
  box-shadow: 0 1px 1px rgb(9 13 20 / 40%), -4px -4px 8px rgb(224 224 255 / 4%), 0 0 10px rgb(9 13 20 / 40%);
}

.burgerOpenButton span {
  display: block;
  position: absolute;
  height: 2px;
  width: 16px;
  background: #000000;
  border-radius: 2px;
  opacity: 1;
  left: 50%;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg) translate(-50%, 50%);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.burgerOpenButton span:nth-child(1) {
  top: 19px;
}

.burgerOpenButton span:nth-child(2) {
  top: 25px;
}

.burgerOpenButton span:nth-child(3) {
  top: 31px;
}

.burgerOpenButton.open span:nth-child(1) {
  -moz-transform: rotate(135deg) translate(0, 12px);
  -o-transform: rotate(135deg) translate(0, 12px);
  top: 33px;
  -webkit-transform: rotate(135deg) translate(0, 12px);
  transform: rotate(135deg) translate(0, 12px);
}

.burgerOpenButton.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.burgerOpenButton.open span:nth-child(3) {
  -moz-transform: rotate(-135deg) translate(0, -11px);
  -o-transform: rotate(-135deg) translate(0, -11px);
  top: 17px;
  -webkit-transform: rotate(-135deg) translate(0, -11px);
  transform: rotate(-135deg) translate(0, -11px);
}

.sidebar {
  width: 100%;
  height: 100vh;
  background: #000000;
  opacity: .95;
  position: absolute;
  top: -5px;
}

@media screen and (max-width: 950px) {
  .title {
    width: 100%;
    min-width: 200px;
  }
  .titleWrap {
    min-width: 0;
  }
}

@media screen and (max-width: 640px) {
  .title {
    font-size: 43px;
  }
}


@media screen and (max-width: 600px) {
  .title {
    font-size: 30px;
    text-align: left;
    padding-left: 16px;
  }
}

@media screen and (max-width: 410px) {
  .title {
    font-size: 25px;
  }
}

@media screen and (max-width: 360px) {
  .title {
    font-size: 22px;
  }
}