@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap');

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 125px;
  background: #FAFAFA;
}

.wrap {
  font-family: 'ALS Ekibastuz', serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.translation {
  position: absolute;
  left: 55px;
  top: 38px;
}

.translationItem {
  font-size: 24px;
  color: #787672;
  letter-spacing: 0.2em;
  cursor: pointer;
  transition: box-shadow .3s;
  &:hover {
    text-shadow: 0 0 11px rgba(33,33,33,.2);
    color: #1E1C1C;
  }
}

.about {
  font-size: 24px;
  color: #787672;
  letter-spacing: 0.13em;
  cursor: pointer;
  transition: box-shadow .3s;
  padding-left: 67px;
  &:hover {
    text-shadow: 0 0 11px rgba(33,33,33,.2);
    color: #1E1C1C;
  }
}

.titleWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 510px;
}

.title {
  font-family: 'Gowun Batang', serif;
  font-size: 48px;
  line-height: 70px;
  text-align: center;
  letter-spacing: 0.2em;
  color: #1E1C1C;
}

.infoWrap {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.info {
  font-size: 24px;
  color: #787672;
  letter-spacing: 0.13em;
  cursor: pointer;
  transition: box-shadow .3s;
  &:hover {
    text-shadow: 0 0 11px rgba(33,33,33,.2);
    color: #1E1C1C;
  }
 }