.container {
  width: 100%;
  height: auto;
  max-height: 820px;
  position: relative;
}

.imageWrap > img {
  max-height: 820px;
  width: 100%;
}

.slickPrev {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  padding: 0;
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}

.slickNext {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  padding: 0;
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}

.slickNext::before {
  content: "";
  background: url("../../assets/arrow_right.svg");
  color: white;
  display: block;
  width: 11px;
  height: 20px;
}

.slickPrev::before {
  content: "";
  background: url("../../assets/arrow_left.svg");
  color: white;
  display: block;
  width: 11px;
  height: 20px;
}

.arrow {
  cursor: pointer;
  background: url("../../assets/arrow_down.svg");
  height: 10px;
  width: 22px;
  position: absolute;
  bottom: 30px;
  left: calc(50% - 22px);
}